<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <org.jenkinsci.plugins.urlpublisher.UrlPublisher plugin="url-publisher@1.0-SNAPSHOT">
      <publishURL>http://localhost:8080/jenkins</publishURL>
    </org.jenkinsci.plugins.urlpublisher.UrlPublisher>
  </publishers>
  <buildWrappers/>
</project>